<div class='search_bar'>
    <%= form_with url: users_path, method: :get, local: true do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search users...", class: 'search-btn' %>
    <%= submit_tag "Search", class:'search-btn' %>
    <% end %>
</div>