<%= javascript_importmap_tags 'application' %>
<div class="full">
    <div id="form-container">
        <%= render "form" %>
    </div>
    <div id="users-container">
        <%= render "users_list" %>
    </div>
</div>