<%= javascript_importmap_tags 'application' %>
<div class="full">
    <div id="form-container">
        <%= render "form" %>
    </div>
    <turbo-frame id="users-container">
        <%= render "filter_user"%>
        <%= render "users_list" %>
    </turbo-frame>
</div>